# Archivos de datos grandes
*.csv
*.db
*.xlsx
*.parquet

# Carpetas de datos

Data/*.csv

# Archivos de Jupyter checkpoints
.ipynb_checkpoints/
logs/
# Archivos de entorno
.env
*.venv
__pycache__/
*.pyc

# Archivos de IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp
